---
import AdminLayout from '@/ui/layouts/AdminLayout.astro';
import ProductList from '@/features/admin/components/ProductList.astro';
---

<AdminLayout title="Productos">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gold-dark">Productos</h1>
  </div>

  <ProductList />
</AdminLayout>